.swiper-container {
  /* margin: 0 auto;
  max-width: 1240px;
  height: 450px; */
  border-radius: 10px;
}

.swiper-button-next {
  color: #ffba08;
}

.swiper-button-prev {
  color: #ffba08;
}

.swiper-pagination-bullet {
  width: 16px;
  height: 16px;
  background: #999999;
  opacity: 1;
}

.swiper-pagination-bullet-active {
  width: 16px;
  height: 16px;
  background: #ffba08;
}

.swiper-wrapper {
  padding-inline-start: 0;
}

.swiper-pagination {
  bottom: 0;
}
